.dialogs {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  /* border: 1px solid red; */
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.messages {
  /* border: 1px solid red; */
  padding: 10px;
}

.messages.message {
}
